.text-corn {
    color: #fff05aff;
}
.text-orange-yellow-crayola {
    color: #ffd25aff;
}
.text-rajah {
    color: #ffaa5aff;
}
.text-outrageous-orange {
    color: #ff785aff;
}
.text-eerie-black {
    color: #191919ff;
}

.background-corn {
    background-color: #fff05aff;
}
.background-orange-yellow-crayola {
    background-color: #ffd25aff;
}
.background-rajah {
    background-color: #ffaa5aff;
}
.background-outrageous-orange {
    background-color: #ff785aff;
}
.background-eerie-black {
    background-color: #191919ff;
}