/* Elements to be / not to be visible only in dark mode */
.is-dark--show {
    display: none;
}

body.is-dark .is-dark--show {
    display: unset;
}

body.is-dark .is-dark--hide {
    display: none;
}

/* Try to recolor all text within sections, except the one that is specified not to be changed on dark mode */

body.is-dark .section {
    background: #191919ff;
}

body.is-dark .section *:not(.is-dark--no-color-change):not(input):not(select):not(textarea) {
    color: white;
}

/* Recolor navbar */

body.is-dark #navigation {
    background: #191919ff;
}

body.is-dark .navigation-links {
    background: #191919ff !important;
}

body.is-dark #navigation * {
    color: white;
}

body.is-dark #open-menu div {
    background: white !important;
}

/* Recolor cta buttons */

body.is-dark .section a.cta, body.is-dark .section button.cta {
    color: #191919ff !important;
    background: white;
}

/* Separate footer from rest of the page */

body.is-dark .footer {
    border-top: 1px solid white;
}

/* Recolor form elements */
.custom-radio input[type="radio"] {
    background-color: #191919ff !important;
}